<form action="/ajouterCircuit" method="post">


                <h1>Ajouter un circuit</h1>


                    Nom <input type="text" class="login-field" name ="cirnom" value="">
                    Longueur <input type="text" class="login-field" name ="cirlongueur" value="">

                   Pays <input type="text" class="login-field" name ="paysnum" value="">
                   Image <input type="text" class="login-field" name ="ciradresseimage" value="">

                   Nombre de spectateurs <input type="text" class="login-field" name ="cirnbspectateurs" value="">
                   Description <input type="text" class="login-field" name ="cirtext" value="">


                <input type="submit" name="inscription" class="btn55 btn55-primary btn55-large btn55-block" value="Inscription">

</form>