<table class="dernierResTab" align="center" style="border : 1px solid black;">
    <td>
        <p align="center"><u>DERNIERS RESULTATS</u></p>

        <div class="dernierRes">
            <p><b>{{derniersResultats.gpnom}} du {{formatDate derniersResultats.gpdate 'DD/MM/YYYY'}}</b></p>
            <p>Mise à jour le : {{formatDate derniersResultats.gpdatemaj 'DD/MM/YYYY'}}</p>
            <p><a href="/resultats">Voir les résultats</a></p>
        </div>
    </td>
</table>