{{> listerPremiereLettreNomPilote}}
<div class="profilPilote" align="center">
    {{#each preProfilSelonLaPremiereLettre}}

        <a class="nomPilote" href="/detailDuPilote/{{this.pilnum}}"><img class="imagePiloteBtn" src="/image/pilote/{{this.phoadresse}}"/>
        <br/>
            {{this.pilprenom}}<br/> {{this.pilnom}}<a/>

    {{/each}}

</div>