<h1>Saisie des résultats</h1>

<table>
    <tr>
        <th>

        </th>
        <th>
            Place
        </th>
        <th>
            Pilote
        </th>
        <th>
            Temps
        </th>
        <th>
            Points
        </th>
    </tr>
    <tr>
        {{#each }}

        {{/each}}
    </tr>
</table>