<h1>Saisie des résultats</h1>

<table>
    <tr>
        <th>

        </th>
        <th>
            Place
        </th>
        <th>
            Pilote
        </th>
        <th>
            Temps
        </th>
        <th>
            Points
        </th>
    </tr>
    <tr>

        {{#each placeEtPoints as |placeEtPoints|}}
            {{#each resultatsSelonGP as |resultatsSelonGP|}}


            <td>
                <img src="/image/act_delete.png" alt="delete"/>
            </td>
            <td>
                {{placeEtPoints.ptplace}}
            </td>
            <td>
                {{resultatsSelonGP.pilnom}}
            </td>
            <td>
                {{resultatsSelonGP.tempscourse}}
            </td>
                <td>
                    {{placeEtPoints.ptnbpointsplace}}
                </td>
            {{/each}}
        {{/each}}
    </tr>
</table>